*{
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: 'Nunito', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#game {
  position: relative;
  width: 50vw;
  height: 80vh;
  background-color: #FAF9F6;
  cursor: none;
  border: darkgrey;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

#skier {
  position: absolute;
  width: 5%;
  aspect-ratio: 1 / 1;
  background-color: green;
  border-radius: 10%;
  top: 30px;
  left: 10px;
}

.gate {
  position: absolute;
  width: 5%;
  aspect-ratio: 3 / 2;
  border-radius: 5%;
  background-color: blue;
  animation: move 5s linear forwards;
}

.start {
  position: absolute;
  top: 40%;
  z-index: 2;
  cursor: none;
}

#restart {
  display: none;
  border: none;
  position: absolute;
  color: black;
  font-size: 1.5rem;
  top: 57%;
  background-color: #FAF9F6;
  outline-width: 2px;
  outline-style: solid;
  border-radius: 5px;
  padding-right: 5px;
  padding-left: 5px;
}

.instructions {
  position: absolute;
  max-width: 300px;
  text-align: center;
  top: 50%;
  z-index: 2;
  cursor: none;
}

@keyframes move {
  from {
    top: 100%;
  }
  to {
    top: -50px;
  }
}

h2{
  padding-top: 5px;
  text-align: center;
}

h1{
  padding-bottom: 5px;
}
